<div class="title">
    <h3>Radio Buttons</h3>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="exampleRadios" id="exampleRadios1" value="option1" type="radio"> Radio is
        off
        <span class="circle">
                    <span class="check"></span>
                  </span>
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input class="form-check-input" name="exampleRadios" id="exampleRadios2" value="option2" checked=""
               type="radio"> Radio is on
        <span class="circle">
            <span class="check"></span>
        </span>
    </label>
</div>
            