<footer class="footer footer-white footer-big" id="footer">
    <div class="container">

        <div class="content">
            <div class="row">

                <div class="col-md-4">
                    <a href="/"><h5>Erics Media</h5></a>
                    <p style="font-size: 16px; line-height: 1.5;">The Home of quality<br>
                        Media Services<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>About</h5>
                    <ul class="links-vertical">
                        <li>
                            <a href="/blog">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="/profile">
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="/gallery">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Subscribe to Our News Channel</h5>
                    <p>
                        Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about
                        this.
                    </p>
                    <form class="form form-newsletter"
                          action="/contact"
                          method="post">
                        <div class="form-group bmd-form-group">
                            <input class="form-control email" type="email" value="" name="sub"
                                   placeholder="Your email...." required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-just-icon">
                            <i class="material-icons" style="background: #2284a2">mail</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <hr>
        <ul class="social-buttons">
            <h5>Share on Social Media</h5>
            <li>
                <a title="Share on Facebook"
                   href="http://www.facebook.com/sharer.php?u=http://ericsmedia.net"
                   target="_blank">
                    <i class="fab fa-facebook-f card-hover-effect" style="font-size: 30px;"></i>
                </a>
            </li>
            <!--<li>-->
            <!--<a title="Share on Twitter" href="https://twitter.com/share?"-->
            <!--data-show-count="false" target="_blank">-->
            <!--<i class="fab fa-twitter" style="font-size: 30px"></i>-->
            <!--</a>-->
            <!--&lt;!&ndash;<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>&ndash;&gt;-->
            <!--</li>-->
        </ul>

        <div class="copyright pull-center">
            Copyright ©
            <script>document.write(new Date().getFullYear())</script>
            Alosoft Inc. All Rights Reserved.
        </div>
    </div>
</footer>

<!--   Core JS Files   -->
<script src="/javascripts/core/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/core/popper.min.js" type="text/javascript"></script>
<script src="/javascripts/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/javascripts/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/javascripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/javascripts/nouislider.min.js" type="text/javascript"></script>
<!--	Plugin for Sharrre btn -->
<script src="/javascripts/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/javascripts/material-kit.js?v=2.0.4" type="text/javascript"></script>

</body>

</html>