<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
     id="sectionsNav" style="padding-bottom: 5px;">
    <div class="container-fluid">
        <div class="navbar-translate" style="margin-left: 30px;">
            <div data-turbolinks="false">
                <a href="/" class="navbar-brand">
                    <div class="logo animated flash">
                        <img src="/images/logo.png" width="200" height="50">
                    </div>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" style="margin-right: 100px;">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="material-icons">
                            home
                        </i>
                    </a>
                </li>
                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Menu
                    </a>
                    <div class="dropdown-menu dropdown-with-icons main-menu" style="height: 275px;">
                        <a href="/gallery" class="dropdown-item">
                            <i class="material-icons">add_a_photo</i> Gallery
                        </a>
                        <a href="/blog" class="dropdown-item">
                            <i class="material-icons">format_bold</i> Blog
                        </a>
                        <a href="/package" class="dropdown-item">
                            <i class="material-icons">layers</i> Packages
                        </a>
                        <a href="/profile" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Profile
                        </a>
                        <a href="/contact" class="dropdown-item">
                            <i class="material-icons">contact_mail</i> Contact Us
                        </a>
                        <a href="/about" class="dropdown-item">
                            <i class="material-icons">person</i> About Us
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="#" target="_blank"
                       data-original-title="Follow us on Twitter">
                        <button class="btn btn-just-icon btn-round btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://web.facebook.com/erics2017/" target="_blank"
                       data-original-title="Like us on Facebook">
                        <button class="btn btn-just-icon btn-round btn-facebook">
                            <i class="fa fa-facebook"> </i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://plus.google.com/110122640636489343713" target="_blank"
                       data-original-title="Follow us on Google Plus">
                        <button class="btn btn-just-icon btn-round btn-google">
                            <i class="fa fa-google"> </i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.instagram.com/erics_media/" target="_blank"
                       data-original-title="Follow us on Instagram">
                        <button class="btn btn-just-icon btn-round btn-instagram">
                            <i class="fa fa-instagram"></i>
                        </button>
                    </a>
                </li>
                <% if(activeUser){ %>
                <li class="dropdown nav-item">
                    <a class="profile-photo dropdown-toggle nav-link" href="/dashboard"
                       data-toggle="dropdown">
                        <div class="profile-photo-small">
                            <img class="rounded-circle img-fluid" src="/images/eric.jpg" alt="Circle Image">
                        </div>
                        <div class="ripple-container"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/profile" class="dropdown-item">Profile</a>
                        <a href="/logout" class="dropdown-item">Sign out</a>
                        <a href="/new" class="dropdown-item">Add Video</a>
                        <a href="/gallery/new" class="dropdown-item">Add Picture</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
