<% let page = 'About'; %>

<% include partials/header.ejs %>
<% include partials/nav.ejs %>


<body class="profile-page sidebar-collapse">


<div class="page-header" data-parallax="true" style="background-image: url('/images/background.jpg');"></div>
<div class="main main-raised">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 ml-auto mr-auto">
                <h2 class="title">
                    About Us
                    <h5 class="description lnr-text-align-left">
                        Erics Media is a multimedia company which was established in 2014. Our focus is to serve our
                        clients and help them achieve their goals in the media world.
                    </h5>
                </h2>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12 ml-auto mr-auto">
                <h2 class="title">
                    Our Vision
                    <h5 class="description lnr-text-align-left">
                        Our vision is to establish our branches across this great Nation and It's neighbours. And by
                        doing
                        so, we hope to make multimedia services affordable to all standard of people.
                    </h5>
                </h2>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 ml-auto mr-auto">
                <h2 class="title">
                    Our Mission
                    <h5 class="description lnr-text-align-left">
                        We want to help our society understand and learn how multimedia can improve our lives.
                        And also to instil our knowledge into any person who is eager to learn.
                    </h5>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Want to work with us?</h2>
            <h4 class="text-center description">Send us your information</h4>
            <form class="contact-form" action="https://facebook.us18.list-manage.com/subscribe/post" method="POST">
                <input type="hidden" name="u" value="40b35e1019fb0aa6f57c31a25">
                <input type="hidden" name="id" value="a0b3fe9404">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-5 col-10 ml-auto mr-auto">
                        <div class="form-group bmd-form-group">
                            <label for="MERGE1" class="bmd-label-floating">Your name</label>
                            <input type="text" name="MERGE1" id="MERGE1" size="25" value="" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-10 ml-auto mr-auto">
                        <div class="form-group bmd-form-group">
                            <label for="MERGE0" class="bmd-label-floating">Your Email</label>
                            <input type="email" class="form-control" autocapitalize="off" autocorrect="off"
                                   name="MERGE0" id="MERGE0" size="25" value="">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-5 col-10 ml-auto mr-auto">
                        <div class="form-group bmd-form-group">
                            <label for="MERGE2" class="bmd-label-floating">Phone Number</label>
                            <input type="text" name="MERGE2" id="MERGE2" size="25" value="" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <button class="btn btn-primary btn-round">
                            Let's talk
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>
