<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>
        Erics Media | Contact
    </title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <meta name="keywords" content="Media, Photography, Picture Editing, Video Recording">    
    <meta name="description" content="This is the Official Website of Erics Media">
    <meta name="author" content="Eric Dankwah Owusu">
    <meta property="og: site_name" content="Erics Media">
    <meta property="og: title" content="Contact">
    <meta property="og: url" content="http://www.ericsmedia.net/contact">
    <meta property="og: type" content="website">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <!-- CSS Files -->
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/stylesheets/material-kit.min.css">
    <link href="/stylesheets/material-kit.css?v=2.0.4" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/vertical-nav.css">
    <link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    <link href="/stylesheets/material-kit.min.css?v=2.1.0" rel="stylesheet"/>


    <link href="/stylesheets/vertical-nav.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/animate.css">


    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');</script>
    <!-- End Google Tag Manager -->

    <!--mailchimp script-->
    <script id="mcjs">!function (c, h, i, m, p) {
            m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p)
        }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/40b35e1019fb0aa6f57c31a25/82cae81ddeb927cc7c4d36c85.js");
    </script>

    <!--Git Site Control plugin-->
    <script>
        (function (w, i, d, g, e, t, s) {
            w[d] = w[d] || [];
            t = i.createElement(g);
            t.async = 1;
            t.src = e;
            s = i.getElementsByTagName(g)[0];
            s.parentNode.insertBefore(t, s);
        })(window, document, '_gscq', 'script', '//widgets.getsitecontrol.com/146775/script.js');
    </script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>
</head>


<body class="contact-page sidebar-collapse">


<!-- Extra details for Live View on GitHub Pages -->
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->


<nav class="navbar fixed-top navbar-expand-lg bg-dark"
     id="sectionsNav" style="padding-bottom: 5px;">
    <div class="container-fluid" style="margin-left: 30px;">
        <div class="navbar-translate">
            <div data-turbolinks="false">
                <a href="/" class="navbar-brand">
                    <div class="logo">
                        <img src="/images/logo.png" width="200" height="50">
                        <!--<a href="#contact" data-number="1" class="">-->
                        <!--<i class="fas fa-angle-double-down" style="color: red;"></i>-->
                        <!--</a>-->

                    </div>

                    <!--<p>Erics <br> Media</p>-->
                </a>
                <!--<a title="Scroll Down" class="nav-link" href="#contact">-->
                <!--<i class="material-icons " style="color: red;">-->
                <!--keyboard_arrow_down-->
                <!--</i>-->
                <!--</a>-->
                <nav id="cd-vertical-nav" style="position: fixed; ">
                    <ul>
                        <li class="animated slideInDown delay-2s">
                            <a title="Scroll Down" href="#contact" data-number="1" class="">
                                <!--<span class="cd-dot animated flash delay-5s" style="height: 40px; width: 40px;"></span>-->
                                <i class="material-icons animated flash delay-5s"
                                   style="color: white; font-size: 30px; background-color: #2284ae; border-radius: 10px;">arrow_downward</i>
                                <span class="cd-label">Scroll down</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
                <span class="navbar-toggler-icon" style="background: #2284a2;"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" style="margin-right: 100px">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="material-icons">
                            home
                        </i>
                    </a>
                </li>

                <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <i class="material-icons">apps</i> Menu
                    </a>
                    <div class="dropdown-menu dropdown-with-icons main-menu" style="height: 275px;">
                        <a href="/gallery" class="dropdown-item">
                            <i class="material-icons">add_a_photo</i> Gallery
                        </a>
                        <a href="/blog" class="dropdown-item">
                            <i class="material-icons">format_bold</i> Blog
                        </a>
                        <a href="/package" class="dropdown-item">
                            <i class="material-icons">layers</i> Packages
                        </a>
                        <a href="/profile" class="dropdown-item">
                            <i class="material-icons">content_paste</i> Profile
                        </a>
                        <a href="/contact" class="dropdown-item">
                            <i class="material-icons">contact_mail</i> Contact Us
                        </a>
                        <a href="/about" class="dropdown-item">
                            <i class="material-icons">person</i> About Us
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="#" target="_blank"
                       data-original-title="Follow us on Twitter">
                        <button class="btn btn-just-icon btn-round btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://web.facebook.com/erics2017/" target="_blank"
                       data-original-title="Like us on Facebook">
                        <button class="btn btn-just-icon btn-round btn-facebook">
                            <i class="fa fa-facebook"> </i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://plus.google.com/110122640636489343713" target="_blank"
                       data-original-title="Follow us on Google Plus">
                        <button class="btn btn-just-icon btn-round btn-google">
                            <i class="fa fa-google"> </i>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                       href="https://www.instagram.com/erics_media/" target="_blank"
                       data-original-title="Follow us on Instagram">
                        <button class="btn btn-just-icon btn-round btn-instagram">
                            <i class="fa fa-instagram"></i>
                        </button>
                    </a>
                </li>
                <% if(activeUser){ %>
                <li class="dropdown nav-item">
                    <a class="profile-photo dropdown-toggle nav-link" href="#"
                       data-toggle="dropdown">
                        <div class="profile-photo-small">
                            <img class="rounded-circle img-fluid" src="/images/alonso.jpg" alt="Circle Image">
                        </div>
                        <div class="ripple-container"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="/profile" class="dropdown-item">Profile</a>
                        <a href="/logout" class="dropdown-item">Sign out</a>
                        <a href="/new" class="dropdown-item">Add Video</a>
                        <a href="/gallery/new" class="dropdown-item">Add Picture</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>

<div class="page-header" id="mapDiv" data-parallax="true">

</div>

<div class="main main-raised" id="contact">
    <div class="contact-content">
        <div class="container">
            <h2 class="title">Send us a message</h2>
            <div class="row">
                <div class="col-md-6">
                    <p class="description">You can contact us with anything related to our Products. We&apos;ll get in
                        touch with you as soon as possible.<br><br>
                    </p>
                    <form role="form" id="contact-form" method="post" action="/contact">
                        <div class="form-group">
                            <label for="name" class="bmd-label-floating">Your name</label>
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmails" class="bmd-label-floating">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmails" name="email">
                            <span class="bmd-help">We'll never share your email with anyone else.</span>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="bmd-label-floating">Phone</label>
                            <input type="number" class="form-control" id="phone" name="phone">
                        </div>
                        <div class="form-group label-floating">
                            <label class="form-control-label bmd-label-floating" for="message"> Your message</label>
                            <textarea class="form-control" rows="6" id="message" name="message"></textarea>
                        </div>
                        <div class="submit text-center">
                            <input type="submit" class="btn btn-primary btn-raised btn-round" value="Contact Us">
                        </div>
                    </form>
                </div>
                <div class="col-md-4 ml-auto">
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons icons">pin_drop</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Find us at the office</h4>
                            <p> Duayaw Nkwanta, Tano North District,<br>
                                Brong Ahafo,<br>
                                Ghana
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons icons">phone</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Give us a ring</h4>
                            <p> Erics Media<br>
                                +233 241 264 308<br>
                                +233 245 458 545<br>
                                +233 241 964 136<br>
                                +233 547 095 815<br>
                                Mon - Sat, 8:00-22:00
                            </p>
                        </div>
                    </div>
                    <div class="info info-horizontal">
                        <div class="icon icon-primary">
                            <i class="material-icons icons">business_center</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Legal Information</h4>
                            <p> Alosoft Inc.<br>
                                VAT &#xB7; EN2341241<br>
                                IBAN &#xB7; EN8732ENGB2300099123<br>
                                Bank &#xB7; Ghana Commercial Bank
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer footer-white footer-big" id="footer">
    <div class="container">

        <div class="content">
            <div class="row">

                <div class="col-md-4">
                    <a href="#"><h5>Erics Media</h5></a>
                    <p style="font-size: 16px; line-height: 1.5;">The Home of quality<br>
                        Media Services<br>
                    </p>
                </div>
                <div class="col-md-4">
                    <h5>About</h5>
                    <ul class="links-vertical">
                        <li>
                            <a href="/blog">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="/profile">
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="/package">
                                Package
                            </a>
                        </li>
                        <li>
                            <a href="/gallery">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h5>Subscribe to Our News Channel</h5>
                    <p>
                        Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about
                        this.
                    </p>
                    <form class="form form-newsletter"
                          action="/contact"
                          method="post">
                        <div class="form-group bmd-form-group">
                            <input class="form-control email" type="email" value="" name="sub"
                                   placeholder="Your email...." required>
                        </div>
                        <button type="submit" class="btn btn-primary btn-just-icon">
                            <i class="material-icons" style="background: #2284ae;">mail</i>
                        </button>
                    </form>
                </div>

            </div>
        </div>

        <hr>

        <ul class="social-buttons">
            <h5>Share on Social Media</h5>
            <li>
                <a title="Share on Facebook"
                   href="http://www.facebook.com/sharer.php?u=http://ericsmedia.net"
                   target="_blank">
                    <i class="fab fa-facebook-f card-hover-effect" style="font-size: 30px;"></i>
                </a>
            </li>
            <!--<li>-->
            <!--<a title="Share on Twitter" href="https://twitter.com/share?ref_src=twsrc%5Etfw"-->
            <!--class="twitter-share-button"-->
            <!--data-show-count="false">-->
            <!--<button class="btn btn-just-icon btn btn-twitter">-->
            <!--&lt;!&ndash;<i class="fa fa-twitter"></i>&ndash;&gt;-->
            <!--</button>-->
            <!--</a>-->
            <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
            <!--</li>-->
        </ul>

        <div class="copyright pull-center">
            Copyright ©
            <script>document.write(new Date().getFullYear())</script>
            Alosoft Inc. All Rights Reserved.
        </div>

    </div>
</footer>


<!--   Core JS Files   -->
<script src="/javascripts/core/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/core/popper.min.js" type="text/javascript"></script>
<script src="/javascripts/core/bootstrap-material-design.min.js" type="text/javascript"></script>

<script src="/javascripts/moment.min.js"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/javascripts/bootstrap-datetimepicker.js" type="text/javascript"></script>

<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/javascripts/nouislider.min.js" type="text/javascript"></script>

<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
<script src="/javascripts/bootstrap-tagsinput.js"></script>
<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
<script src="/javascripts/bootstrap-selectpicker.js" type="text/javascript"></script>

<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="/javascripts/jasny-bootstrap.min.js" type="text/javascript"></script>

<!--	Plugin for Small Gallery in Product Page -->
<script src="/javascripts/jquery.flexisel.js" type="text/javascript"></script>

<!-- Plugins for presentation and navigation  -->
<script src="/javascripts/modernizr.js" type="text/javascript"></script>
<script src="/javascripts/vertical-nav.js" type="text/javascript"></script>

<!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
<script src="/javascripts/demo.js" type="text/javascript"></script>

<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/javascripts/material-kit.min.js?v=2.1.0" type="text/javascript"></script>


<!--<script>-->
<!--// Initialize and add the map-->
<!--function initMap() {-->
<!--// The location of Duayaw Nkwanta (God's Time Printing Press)-->
<!--let duayaw_nkwanta = {lat: 7.174708, lng: -2.100214};-->
<!--// The map, centered at Uluru-->
<!--let map = new google.maps.Map(-->
<!--document.getElementById('map'), {zoom: 10, center: duayaw_nkwanta});-->
<!--// The marker, positioned at Duayaw Nkwanta-->
<!--let marker = new google.maps.Marker({position: duayaw_nkwanta, map: map});-->
<!--}-->
<!--</script>-->

<script>
    // position we will use later
    var lat = 7.174708;
    var lon = -2.100214;
    // lat: 7.174708, lng: -2.100214

    // initialize map
    map = L.map('mapDiv').setView([lat, lon], 13);

    // set map tiles source
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors',
        maxZoom: 18,
    }).addTo(map);

    // add marker to the map
    marker = L.marker([lat, lon]).addTo(map);

    // add popup to the marker
    marker.bindPopup("Erics Media").openPopup();
</script>


<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

</body>

</html>