<% include partials/header.ejs %>
<% include partials/nav.ejs %>


<body class="index-page">

<div class="page-header" data-parallax="true" id="erics_media" style="background-image: url('/original/home (4).jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
                <% } %>
                <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
                <% } %>
                <div class="brand">
                    <h1 style="font-family: 'Ubuntu', cursive;" id="logo_color"
                        class="text_shadow align-content-center ">Erics Media</h1>
                    <hr id="hr">
                    <h3 class="yfont">We are at Your Service. </h3>
                    <a href="#gallery">
                        <i class="material-icons">
                            arrow_drop_down_circle
                        </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="section section-white">
        <div class="container" id="gallery">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="#studio" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">camera</i> Studio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#works" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">work</i> Works
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#painting" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">format_paint</i> Digital
                                    Painting
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane text-center gallery" id="studio">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <!--studio = right side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/wed.jpg" class="rounded round_image"/>
                            </div>

                        </div>
                        <div class="col-md-3 mr-auto">
                            <!--studio = right side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/wed.jpg" class="rounded round_image"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active text-center gallery" id="works">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <!--work = left side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/3x4.jpg" class="rounded round_image"/>
                            </div>
                            <div class="anime">
                                <img src="/images/fold/IMG_7578.JPG" class="rounded round_image"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!--work = left side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/DSC_0448.JPG" class="rounded round_image"/>
                            </div>
                            <div class="anime">
                                <img src="/images/fold/IMG_9239.JPG" class="rounded round_image"/>
                            </div>
                        </div>
                        <div class="col-md-3 mr-auto">
                            <!--studio = right side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/DSC_0448.JPG" class="rounded round_image"/>
                            </div>
                            <div class="anime">
                                <img src="/images/fold/IMG_9239.JPG" class="rounded round_image"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="painting">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <!--painting = left side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/pip.jpg" class="rounded round_image"/>
                            </div>
                            <div class="anime">
                                <img src="/images/fold/justice.jpg" class="rounded round_image"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!--painting = middle side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/PRINT.jpg" class="rounded round_image"/>
                            </div>
                            <div class="anime">
                                <img src="/images/fold/pipp girl.jpg" class="rounded round_image"/>
                            </div>
                        </div>
                        <div class="col-md-3 mr-auto">
                            <!--painting = right side pictures with class="rounded-->
                            <div class="anime">
                                <img src="/images/fold/pip.jpg" class="rounded round_image"/>
                            </div>
                            <div class="anime">
                                <img src="/images/fold/edeq.jpg" class="rounded round_image"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <hr>
            <br>
            <br>
            <div class="title text_shadow" id="package" style="text-align: center">
                <h2>Wedding Packages</h2>
            </div>
            <div class="pricing-5 my_price" id="pricing-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="title">Choose a plan</h2>
                            <ul class="nav nav-pills nav-pills-primary">
                                <li class="nav-item">
                                    <a class="nav-link active show" href="#silver" data-toggle="tab"
                                       id="silver1">Silver</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#diamond" data-toggle="tab" id="diamond1">Diamond</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#gold" data-toggle="tab" id="gold1">Gold</a>
                                </li>
                            </ul>
                            <p class="text-gray">####################################
                                ###########################.</p>
                        </div>
                        <div class="col-md-7 ml-auto mr-auto">
                            <div class="tab-content tab-space">
                                <div class="tab-pane active show" id="silver">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card card-pricing card-raised background_silver">
                                                <div class="card-body ">
                                                    <h6 class="card-price">HTML Package</h6>
                                                    <h1 class="card-title">
                                                        <small>₵</small>
                                                        0
                                                    </h1>
                                                    <ul>
                                                        <li>
                                                            <b>##</b> ######
                                                        </li>
                                                        <li>
                                                            <b>##</b> ######
                                                        </li>
                                                        <li>
                                                            <b>##</b> #######
                                                        </li>
                                                        <li>
                                                            <b>##</b> #######
                                                        </li>
                                                    </ul>
                                                    <a href="#"
                                                       class="btn btn-primary btn-round price_button">
                                                        Read More
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="diamond">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card card-pricing card-raised background_diamond">
                                                <div class="card-body ">
                                                    <h6 class="card-price">HTML Package</h6>
                                                    <h1 class="card-title">
                                                        <small>₵</small>
                                                        159
                                                    </h1>
                                                    <div class="white">
                                                        <ul>
                                                            <li>
                                                                <b>##</b> ######
                                                            </li>
                                                            <li>
                                                                <b>##</b> ######
                                                            </li>
                                                            <li>
                                                                <b>##</b> #######
                                                            </li>
                                                            <li>
                                                                <b>##</b> #######
                                                            </li>
                                                        </ul>
                                                    </div>

                                                    <a href="#" class="btn btn-primary btn-round">
                                                        Read More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane show" id="gold">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="card card-pricing card-raised background_gold">
                                                <div class="card-body ">
                                                    <h6 class="card-price">HTML Package</h6>
                                                    <h1 class="card-title">
                                                        <small>₵</small>
                                                        0
                                                    </h1>
                                                    <ul>
                                                        <li>
                                                            <b>##</b> ######
                                                        </li>
                                                        <li>
                                                            <b>##</b> ######
                                                        </li>
                                                        <li>
                                                            <b>##</b> #######
                                                        </li>
                                                        <li>
                                                            <b>##</b> #######
                                                        </li>
                                                    </ul>
                                                    <a href="#"
                                                       class="btn btn-primary btn-round price_button">
                                                        Read More
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <hr>
            <div id="cards"></div>
        </div>
    </div>

    <div class="cards" id="">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="rotating-card-container" style="margin-bottom: 30px;">
                        <div class="card card-rotate card-background">
                            <div class="front front-background"
                                 style="width: 330px;">
                                <div class="card-body">
                                    <h6 class="card-price">###############</h6>
                                    <a href="#">
                                        <h3 class="card-title">#########################</h3>
                                    </a>
                                    <p class="card-description">#########################
                                        #################################################
                                        ####################
                                    </p>
                                </div>
                            </div>

                            <div class="back back-background"
                                 style="width: 330px;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        ##########
                                    </h5>
                                    <p class="card-description">########################################
                                        ###########</p>
                                    <div class="footer text-center">
                                        <a href="#" class="btn btn-info btn-just-icon btn-fill btn-round">
                                            <i class="material-icons">subject</i>
                                        </a>
                                        <a href="#"
                                           class="btn btn-success btn-just-icon btn-fill btn-round btn-wd">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                        <a href="#" class="btn btn-danger btn-just-icon btn-fill btn-round">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="rotating-card-container" style="margin-bottom: 30px;">
                        <div class="card card-rotate">
                            <div class="front" style="width: 330px;">
                                <div class="card-body">
                                    <h5 class="card-price card-price-social text-success">
                                        <i class="fa fa-newspaper-o"></i> ############
                                    </h5>

                                    <h4 class="card-title">
                                        <a href="#">#########################</a>
                                    </h4>
                                    <p class="card-description">
                                        ################################################################
                                        #######################################
                                    </p>
                                </div>
                            </div>

                            <div class="back" style="width: 330px;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        #######
                                    </h5>
                                    <p class="card-description">
                                        ##################################################
                                        ##################
                                    </p>
                                    <div class="footer text-center">
                                        <a href="#" class="btn btn-rose btn-round">
                                            <i class="material-icons">subject</i> #####
                                        </a>
                                        <a href="#" class="btn btn-just-icon btn-round btn-twitter">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" class="btn btn-just-icon btn-round btn-dribbble">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                        <a href="#" class="btn btn-just-icon btn-round btn-facebook">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="rotating-card-container" style="margin-bottom: 30px;">
                        <div class="card card-rotate bg-rose">
                            <div class="front" style="width: 330px;">
                                <div class="card-body">
                                    <h5 class="card-price card-price-social">
                                        <i class="fa fa-dribbble"></i> ######
                                    </h5>
                                    <h4 class="card-title">
                                        <a href="#">
                                            ###########
                                        </a>
                                    </h4>
                                    <p class="card-description">
                                        ######################################################
                                        ########################################
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <div class="author">
                                        <a href="#">
                                            <img src="/images/eric.jpg" alt="..."
                                                 class="avatar img-raised">
                                            <span>###########</span>
                                        </a>
                                    </div>
                                    <div class="stats ml-auto">
                                        <i class="material-icons">favorite</i> ###
                                        <i class="material-icons">share</i> ###
                                    </div>
                                </div>
                            </div>
                            <div class="back" style="width: 330px;">
                                <div class="card-body">
                                    <h5 class="card-price card-price-social">
                                        <i class="fa fa-dribbble"></i> #####
                                    </h5>
                                    <h4 class="card-title">
                                        <a href="#">
                                            ##############
                                        </a>
                                    </h4>
                                    <div class="stats">
                                        <button type="button" name="button"
                                                class="btn btn-white btn-fill btn-round">
                                            <i class="material-icons">subject</i> ####
                                        </button>
                                        <button type="button" name="button"
                                                class="btn btn-white btn-round btn-link">
                                            <i class="material-icons">bookmark</i> #########
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<nav id="cd-vertical-nav">
    <ul>
        <li>
            <a href="#erics_media" data-number="1" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Home</span>
            </a>
        </li>
        <li>
            <a href="#gallery" data-number="2" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Gallery</span>
            </a>
        </li>
        <li>
            <a href="#package" data-number="3" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Package</span>
            </a>
        </li>
        <li>
            <a href="#cards" data-number="4">
                <span class="cd-dot"></span>
                <span class="cd-label">Cards</span>
            </a>
        </li>
        <li>
            <a href="#footer" data-number="5" class="">
                <span class="cd-dot"></span>
                <span class="cd-label">Footer</span>
            </a>
        </li>
    </ul>
</nav>


<% include partials/footer.ejs %>