<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<body class="index-page">

<div class="page-header" data-parallax="true" style="background-image: url('/images/package3.jpg');" id="erics_media">


</div>


<div class="main main-raised">
    <div class="section section-white" style="background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
        <div class="container" id="gallery">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">camera</i> Silver Package
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">work</i> Diamond Package
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#painting" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">format_paint</i> Gold Package
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--tab start-->
            <div class="tab-content tab-space">
                <div class="tab-pane active text-center gallery" id="studio">
                    <div class="row">
                        <div class="col-md-3 col-sm-8 col-10 ml-auto mr-auto ">
                            <div class="card card-pricing card-raised background_silver" style="margin-top: 100px;">
                                <div class="card-body"
                                     style="background-color: silver; box-shadow: 1px 4px 10px 0px #4440409e;">
                                    <h6 class="card-price">Silver Package</h6>
                                    <hr>
                                    <h1 class="card-title">
                                        <big><em>₵</em></big>
                                        1,500.00
                                    </h1>
                                    <ol class="list-unstyled silver">
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                class="active">
                                                <p>Pre-Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="1"
                                                class="">
                                                <p>Engagement Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="2"
                                                class="">
                                                <p>Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="3"
                                                class="">
                                                <p>After Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="4"
                                                class="">
                                                <p>Thanksgiving Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="5"
                                                class="">
                                                <p>Full Edited Video of the Wedding</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="6"
                                                class="">
                                                <p>Thanks Giving Video (Social Media format)</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="7"
                                                class="">
                                                <p>100 printed images</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="8"
                                                class="">
                                                <p>Photo Album</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators" data-slide-to="9"
                                                class="">
                                                <p>One Framed image (11x16 inches)</p>
                                            </li>
                                        </a>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!--end list-->
                        <div class="col-md-9 col-sm-12 ml-auto mr-auto ">
                            <div class="section" id="carousel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-10 col-12 mr-auto ml-auto">
                                            <!-- Carousel Card -->
                                            <div class="card card-raised card-carousel">
                                                <div id="carouselExampleIndicators" class="carousel slide"
                                                     data-ride="carousel" data-interval="3000">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pre-shoot.jpg"
                                                                 alt="First slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/engage-shoot.jpg"
                                                                 alt="Second slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/wedding.jpg"
                                                                 alt="Third slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/after-shoot.jpg"
                                                                 alt="Fourth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-pictures.jpg"
                                                                 alt="Fifth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/full-edited.jpg"
                                                                 alt="Sixth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-video.jpg"
                                                                 alt="Seventh slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pictures.jpg"
                                                                 alt="Eighth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/album.jpg"
                                                                 alt="Ninth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/frame.jpg"
                                                                 alt="Tenth slide">
                                                        </div>
                                                    </div>
                                                    <a class="carousel-control-prev" href="#carouselExampleIndicators"
                                                       role="button" data-slide="prev">
                                                        <i class="material-icons" style="color: #2284ae;">keyboard_arrow_left</i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carouselExampleIndicators"
                                                       role="button" data-slide="next">
                                                        <i class="material-icons" style="color: #2284ae;">keyboard_arrow_right</i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <div class="tab-pane text-center gallery" id="works">
                    <div class="row">
                        <div class="col-md-3 col-sm-8 col-10 ml-auto mr-auto ">
                            <div class="card card-pricing card-raised background_diamond" style="margin-top: 100px;">
                                <div class="card-body"
                                     style="background-color: #b9f2ff; box-shadow: 1px 4px 10px 0px #4440409e;">
                                    <h6 class="card-price">Diamond Package</h6>
                                    <hr>
                                    <h4 class="card-title">
                                        <big><em>₵</em></big>
                                        2,500.00
                                    </h4>
                                    <ol class="list-unstyled diamond">
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="0"
                                                class="active">
                                                <p>Pre-Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="1"
                                                class="">
                                                <p>Engagement Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="2"
                                                class="">
                                                <p>Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="3"
                                                class="">
                                                <p>After Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="4"
                                                class="">
                                                <p>Thanksgiving Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="5"
                                                class="">
                                                <p>Full Edited Video of the Wedding</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="6"
                                                class="">
                                                <p>Thanks Giving Video (Social Media format)</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="7"
                                                class="">
                                                <p>200 printed images</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="8"
                                                class="">
                                                <p>Photo Album</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="9"
                                                class="">
                                                <p>Two Framed image (11x16 inch. & 11x32 inch.)</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators1" data-slide-to="10"
                                                class="">
                                                <p>Printed T-Shirt for Shooting</p>
                                            </li>
                                        </a>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!--end list-->
                        <div class="col-md-9 col-sm-12 ml-auto mr-auto ">
                            <div class="section" id="carousel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-10 col-12 mr-auto ml-auto">
                                            <!-- Carousel Card -->
                                            <div class="card card-raised card-carousel">
                                                <div id="carouselExampleIndicators1" class="carousel slide"
                                                     data-ride="carousel" data-interval="3000">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pre-shoot.jpg"
                                                                 alt="First slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/engage-shoot.jpg"
                                                                 alt="Second slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/wedding.jpg"
                                                                 alt="Third slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/after-shoot.jpg"
                                                                 alt="Fourth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-pictures.jpg"
                                                                 alt="Fifth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/full-edited.jpg"
                                                                 alt="Sixth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-video.jpg"
                                                                 alt="Seventh slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pictures.jpg"
                                                                 alt="Eighth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/album.jpg"
                                                                 alt="Ninth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/frame.jpg"
                                                                 alt="Tenth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/t-shirt.jpg"
                                                                 alt="Eleventh slide">
                                                        </div>
                                                        <!--begin arrow keys-->
                                                        <a class="carousel-control-prev"
                                                           href="#carouselExampleIndicators1"
                                                           role="button" data-slide="prev">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_left</i>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next"
                                                           href="#carouselExampleIndicators1"
                                                           role="button" data-slide="next">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_right</i>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Carousel Card -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--endddddddddddddddddddddddddddddddddddddd-->
                </div>
                <div class="tab-pane text-center gallery" id="painting">
                    <div class="row">
                        <div class="col-md-3 col-sm-8 col-10 ml-auto mr-auto ">
                            <div class="card card-pricing card-raised background_gold" style="margin-top: 100px;">
                                <div class="card-body" style="box-shadow: 1px 4px 10px 0px #4440409e;">
                                    <h6 class="card-price">Gold Package</h6>
                                    <hr>
                                    <h1 class="card-title">
                                        <big><em>₵</em></big>
                                        4,000.00
                                    </h1>
                                    <ol class="list-unstyled gold">
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="0"
                                                class="active">
                                                <p>Pre-Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="1"
                                                class="">
                                                <p>Engagement Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="2"
                                                class="">
                                                <p>Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="3"
                                                class="">
                                                <p>After Wedding Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="4"
                                                class="">
                                                <p>Thanksgiving Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="5"
                                                class="">
                                                <p>Full Edited Video of the Wedding</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="6"
                                                class="">
                                                <p>Thanksgiving Video (Social Media format)</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="7"
                                                class="">
                                                <p>300 printed Images</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="8"
                                                class="">
                                                <p>Photo Album</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="9"
                                                class="">
                                                <p>Photo Catalogue Book (All Wedding Images)</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="10"
                                                class="">
                                                <p>Three Framed Image (11x16 inch. & 11x32 inch.)</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="11"
                                                class="">
                                                <p>Invitation Design and Printing</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="12"
                                                class="">
                                                <p>Printed T-Shirt for Shooting</p>
                                            </li>
                                        </a>
                                        <a href="#">
                                            <li data-target="#carouselExampleIndicators2" data-slide-to="13"
                                                class="">
                                                <p>50 Printed Handkerchiefs</p>
                                            </li>
                                        </a>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <!--end list-->
                        <div class="col-md-9 col-sm-12 ml-auto mr-auto ">
                            <div class="section" id="carousel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-12 col-sm-10 col-12 mr-auto ml-auto">
                                            <!-- Carousel Card -->
                                            <div class="card card-raised card-carousel">
                                                <div id="carouselExampleIndicators2" class="carousel slide"
                                                     data-ride="carousel" data-interval="3000">
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active" id="first">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pre-shoot.jpg"
                                                                 alt="First slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/engage-shoot.jpg"
                                                                 alt="Second slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/wedding.jpg"
                                                                 alt="Third slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/after-shoot.jpg"
                                                                 alt="Fourth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-pictures.jpg"
                                                                 alt="Fifth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/full-edited.jpg"
                                                                 alt="Sixth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <!--<iframe width="560" height="315"-->
                                                            <!--src="https://www.youtube.com/embed/go6GEIrcvFY?&autoplay=1"-->
                                                            <!--frameborder="0"-->
                                                            <!--allow="autoplay; encrypted-media"-->
                                                            <!--allowfullscreen></iframe>-->
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-video.jpg"
                                                                 alt="Seventh slide">

                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pictures.jpg"
                                                                 alt="Eighth slide">

                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/album.jpg"
                                                                 alt="Ninth slide">

                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/catalogue.jpg"
                                                                 alt="Tenth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/frame.jpg"
                                                                 alt="Eleventh slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/invitation.jpg"
                                                                 alt="Twelfth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/t-shirt.jpg"
                                                                 alt="Fourteenth slide">
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/handkerchief.jpg"
                                                                 alt="Fourteenth slide">
                                                        </div>
                                                        <a class="carousel-control-prev"
                                                           href="#carouselExampleIndicators2"
                                                           role="button" data-slide="prev">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_left</i>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next"
                                                           href="#carouselExampleIndicators2"
                                                           role="button" data-slide="next">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_right</i>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Carousel Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--edddddddddddddddddddddddddddd-->
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-8 ml-auto mr-auto">
            <form role="form" id="contact-form" method="post" action="/contact">

                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title">
                                You can contact us with anything related to our Products.
                            </h3>
                            <h4 class="text-center description">
                                We'll
                                get in
                                touch with you as soon as possible
                            </h4>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 ml-auto mr-auto">
                                    <div class="form-group bmd-form-group">
                                        <label for="name" class="bmd-label-floating">Your name</label>
                                        <input type="text" class="form-control" id="name" name="name">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 ml-auto mr-auto">
                                    <div class="form-group bmd-form-group">
                                        <label for="exampleInputEmails" class="bmd-label-floating">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmails" name="email">
                                        <span class="bmd-help">Your email is safe with us.</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 ml-auto mr-auto">
                                    <div class="form-group bmd-form-group">
                                        <label for="phone" class="bmd-label-floating">Phone</label>
                                        <input type="number" class="form-control" id="phone" name="phone" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ml-auto mr-auto">
                                    <div class="form-group label-floating bmd-form-group">
                                        <label class="form-control-label bmd-label-floating" for="message"> Your
                                            message</label>
                                        <textarea class="form-control" rows="6" id="message" name="message"
                                                  required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 ml-auto mr-auto">
                                    <div class="submit text-center">
                                        <input type="submit" class="btn btn-primary btn-raised btn-round"
                                               value="Contact Us">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<% include partials/footer.ejs %>