<% include partials/header.ejs %>
<% include partials/nav.ejs %>

<body class="index-page">

<div class="page-header" data-parallax="true" style="background-image: url('/images/bag.png');" id="erics_media">


</div>


<div class="main main-raised">
    <div class="section section-dark">
        <div class="container" id="gallery">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">camera</i> Silver Package
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">work</i> Diamond Package
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#painting" role="tab" data-toggle="tab">
                                    <i class="material-icons" style="font-size: large;">format_paint</i> Gold Package
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--tab start-->
            <div class="tab-content tab-space">
                <div class="tab-pane active text-center gallery" id="studio">
                    <div class="row">
                        <div class="col-md-3 col-sm-8 ml-auto mr-auto ">
                            <div class="card card-pricing card-raised background_gold" style="margin-top: 100px;">
                                <div class="card-body"
                                     style="background-color: silver;">
                                    <h6 class="card-price">Silver Package</h6>
                                    <hr>
                                    <h1 class="card-title">
                                        <big><em>₵</em></big>
                                        1,500.00
                                    </h1>
                                    <p>Pre-Wedding Shooting</p>
                                    <p>Engagement Shooting</p>
                                    <p>Wedding Shooting</p>
                                    <p>After Wedding Shooting</p>
                                    <p>Thanksgiving Shooting</p>
                                    <p>Full Edited Video of the Wedding</p>
                                    <p>Thanks Giving Video (Social Media format)</p>
                                    <p>100 printed images</p>
                                    <p>Photo Album</p>
                                    <p>One Framed image (11x16 inches)</p>
                                </div>
                            </div>
                        </div>
                        <!--end list-->
                        <div class="col-md-9 col-sm-12 ml-auto mr-auto ">
                            <div class="section" id="carousel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 mr-auto ml-auto">
                                            <!-- Carousel Card -->
                                            <div class="card card-raised card-carousel">
                                                <div id="carouselExampleIndicators" class="carousel slide"
                                                     data-ride="carousel" data-interval="3000">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="0"
                                                            class="active"></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="4"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="5"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="6"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="7"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="8"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators" data-slide-to="9"
                                                            class=""></li>
                                                    </ol>
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pre-shoot.jpg"
                                                                 alt="First slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/engage-shoot.jpg"
                                                                 alt="Second slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Somewhere Beyond, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/wedding.jpg"
                                                                 alt="Third slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/after-shoot.jpg"
                                                                 alt="Fourth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-pictures.jpg"
                                                                 alt="Fifth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/full-edited.jpg"
                                                                 alt="Sixth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-video.jpg"
                                                                 alt="Seventh slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pictures.jpg"
                                                                 alt="Eighth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/album.jpg"
                                                                 alt="Ninth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/frame.jpg"
                                                                 alt="Tenth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="carousel-control-prev" href="#carouselExampleIndicators"
                                                       role="button" data-slide="prev">
                                                        <i class="material-icons" style="color: #2284ae;">keyboard_arrow_left</i>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="carousel-control-next" href="#carouselExampleIndicators"
                                                       role="button" data-slide="next">
                                                        <i class="material-icons" style="color: #2284ae;">keyboard_arrow_right</i>
                                                        <span class="sr-only">Next</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end row-->
                </div>
                <div class="tab-pane text-center gallery" id="works">
                    <div class="row">
                        <div class="col-md-3 col-sm-8 ml-auto mr-auto ">
                            <div class="card card-pricing card-raised background_gold" style="margin-top: 100px;">
                                <div class="card-body" style="background-color: #b9f2ff">
                                    <h6 class="card-price">Diamond Package</h6>
                                    <hr>
                                    <h4 class="card-title">
                                        <big><em>₵</em></big>
                                        2,500.00
                                    </h4>
                                    <p>Pre-Wedding Shooting</p>
                                    <p>Engagement Shooting</p>
                                    <p>Wedding Shooting</p>
                                    <p>After Wedding Shooting</p>
                                    <p>Thanksgiving Shooting</p>
                                    <p>Full Edited Video of the Wedding</p>
                                    <p>Thanks Giving Video (Social Media format)</p>
                                    <p>200 printed images</p>
                                    <p>Photo Album</p>
                                    <p>Two Framed image (11x16 inch. & 11x32 inch.)</p>
                                    <p>Printed T-Shirt for Shooting</p>
                                </div>
                            </div>
                        </div>
                        <!--end list-->
                        <div class="col-md-9 col-sm-12 ml-auto mr-auto ">
                            <div class="section" id="carousel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 mr-auto ml-auto">
                                            <!-- Carousel Card -->
                                            <div class="card card-raised card-carousel">
                                                <div id="carouselExampleIndicators1" class="carousel slide"
                                                     data-ride="carousel" data-interval="3000">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="0"
                                                            class="active"></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="1"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="2"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="3"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="4"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="5"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="6"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="7"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="8"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="9"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators1" data-slide-to="10"
                                                            class=""></li>
                                                    </ol>
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pre-shoot.jpg"
                                                                 alt="First slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/engage-shoot.jpg"
                                                                 alt="Second slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Somewhere Beyond, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/wedding.jpg"
                                                                 alt="Third slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/after-shoot.jpg"
                                                                 alt="Fourth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-pictures.jpg"
                                                                 alt="Fifth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/full-edited.jpg"
                                                                 alt="Sixth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-video.jpg"
                                                                 alt="Seventh slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pictures.jpg"
                                                                 alt="Eighth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/album.jpg"
                                                                 alt="Ninth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/frame.jpg"
                                                                 alt="Tenth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/t-shirt.jpg"
                                                                 alt="Eleventh slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                    <!--Yellowstone National Park, United States-->
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <!--begin arrow keys-->
                                                        <a class="carousel-control-prev"
                                                           href="#carouselExampleIndicators1"
                                                           role="button" data-slide="prev">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_left</i>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next"
                                                           href="#carouselExampleIndicators1"
                                                           role="button" data-slide="next">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_right</i>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- End Carousel Card -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--endddddddddddddddddddddddddddddddddddddd-->
                </div>
                <div class="tab-pane text-center gallery" id="painting">
                    <div class="row">
                        <div class="col-md-3 col-sm-8 ml-auto mr-auto ">
                            <div class="card card-pricing card-raised background_gold" style="margin-top: 100px;">
                                <div class="card-body" style="background-color: #b9f2ff">
                                    <h6 class="card-price">Gold Package</h6>
                                    <hr>
                                    <h1 class="card-title">
                                        <big><em>₵</em></big>
                                        4,000.00
                                    </h1>
                                    <p>Pre-Wedding Shooting</p>
                                    <p>Engagement Shooting</p>
                                    <p>Wedding Shooting</p>
                                    <p>After Wedding Shooting</p>
                                    <p>Thanksgiving Shooting</p>
                                    <p>Full Edited Video of the Wedding</p>
                                    <p>Thanksgiving Video (Social Media format)</p>
                                    <p>300 printed Images</p>
                                    <p>Photo Album</p>
                                    <p>Photo Catalogue Book (All Wedding Images)</p>
                                    <p>Three Framed Image (11x16 inch. & 11x32 inch.)</p>
                                    <p>Invitation Design and Printing</p>
                                    <p>Printed T-Shirt for Shooting</p>
                                    <p>50 Printed Handkerchiefs</p>
                                </div>
                            </div>
                        </div>
                        <!--end list-->
                        <div class="col-md-9 col-sm-12 ml-auto mr-auto ">
                            <div class="section" id="carousel">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 mr-auto ml-auto">
                                            <!-- Carousel Card -->
                                            <div class="card card-raised card-carousel">
                                                <div id="carouselExampleIndicators2" class="carousel slide"
                                                     data-ride="carousel" data-interval="3000">
                                                    <ol class="carousel-indicators">
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="0"
                                                            class="active"></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="1"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="2"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="3"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="4"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="5"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="6"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="7"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="8"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="9"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="10"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="11"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="12"
                                                            class=""></li>
                                                        <li data-target="#carouselExampleIndicators2" data-slide-to="13"
                                                            class=""></li>
                                                    </ol>
                                                    <div class="carousel-inner">
                                                        <div class="carousel-item active" id="first">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pre-shoot.jpg"
                                                                 alt="First slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/engage-shoot.jpg"
                                                                 alt="Second slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/wedding.jpg"
                                                                 alt="Third slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/after-shoot.jpg"
                                                                 alt="Fourth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-pictures.jpg"
                                                                 alt="Fifth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/full-edited.jpg"
                                                                 alt="Sixth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/thanks-video.jpg"
                                                                 alt="Seventh slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/pictures.jpg"
                                                                 alt="Eighth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/album.jpg"
                                                                 alt="Ninth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/catalogue.jpg"
                                                                 alt="Tenth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/frame.jpg"
                                                                 alt="Eleventh slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/invitation.jpg"
                                                                 alt="Twelfth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100" src="/images/package/t-shirt.jpg"
                                                                 alt="Fourteenth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <div class="carousel-item">
                                                            <img class="d-block w-100"
                                                                 src="/images/package/handkerchief.jpg"
                                                                 alt="Fourteenth slide">
                                                            <div class="carousel-caption d-none d-md-block">
                                                                <h4>
                                                                    <i class="material-icons">location_on</i>
                                                                </h4>
                                                            </div>
                                                        </div>
                                                        <a class="carousel-control-prev"
                                                           href="#carouselExampleIndicators2"
                                                           role="button" data-slide="prev">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_left</i>
                                                            <span class="sr-only">Previous</span>
                                                        </a>
                                                        <a class="carousel-control-next"
                                                           href="#carouselExampleIndicators2"
                                                           role="button" data-slide="next">
                                                            <i class="material-icons" style="color: #2284ae;">keyboard_arrow_right</i>
                                                            <span class="sr-only">Next</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Carousel Card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--edddddddddddddddddddddddddddd-->
            </div>
        </div>
    </div>
</div>
</div>


<% include partials/footer.ejs %>