<% include partials/header.ejs%>

<% include partials/nav.ejs%>


<body class="profile-page sidebar-collapse">


<div class="page-header" data-parallax="true"
     style="background-image: url('/images/background.jpg');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="/images/alonso.jpg" alt="Circle Image"
                                 class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 id="logo_color" class="title">Owusu Dankwah Eric</h3>
                            <h6>Graphic Designer</h6>
                            <!--<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i-->
                            <!--class="fa fa-dribbble"></i></a>-->
                            <!--<a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i-->
                            <!--class="fa fa-twitter"></i></a>-->
                            <!--<a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i-->
                            <!--class="fa fa-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>################################
                ################################
                ############################
                ##############################
                ##########################</p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>