<% let page = 'Profile'; %>
<% let url = 'profile'; %>

<% include partials/header.ejs %>
<% include partials/nav.ejs %>


<body class="profile-page sidebar-collapse">

    <div class="page-header" data-parallax="true" id="erics_media" style="background-image: url('https://i.imgur.com/FeOvfU9.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <p style="text-align: center; color: #2284a2; font-size: 3em;" class="text_shadow">Our Team</p>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="container">
            <h2 style="text-align: center; padding-top: 10px;">We care about our work
                <hr style="width: 40%">
            </h2>
            <div class="row">
                <div class="col-md-6">
                    <p style="font-size: 16px; line-height: 1.5;">
                        Erics Media represents quality media service so our customers never leave
                        us unsatisfied. With over 5 years experience in the media industry, we give you the
                        best media experience there is in the market.
                    </p>
                </div>
                <div class="col-md-6">
                    <p style="font-size: 16px; line-height: 1.5;">Our team comprises of highly motivated and God
                        fearing folks who are the
                        best in their independent fields and treats all our customers with utmost respect</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mr-auto">
                <div style="padding: 0 20px">
                    <h2 style="text-align: center;">Meet Our Team
                        <hr style="width: 40%">
                    </h2>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://i.imgur.com/OZVCbRa.jpg">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Eric Dankwa Owusu</h4>
                        <h6 class="category text-muted">CEO / GRAPHIC DESIGNER</h6>

                        <p class="card-description">
                            I've always wanted to help others. Creating Erics Media is my way of reaching 
                            out to the world. One step at a time, I believe we can create a 
                            colourful World full of Life and Media.
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-google">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://i.imgur.com/bZfQ8f1.jpg">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Boahen Joseph</h4>
                        <h6 class="category text-muted">General Manager</h6>

                        <p class="card-description">
                            #######################################################
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="https://www.facebook.com/boahen.joseph" class="btn btn-just-icon btn-link btn-facebook"
                            target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/boahenjoseph2" class="btn btn-just-icon btn-link btn-dribbble"
                            target="_blank">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://www.twitter.com/boahenjoseph21" class="btn btn-just-icon btn-link btn-twitter"
                            target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.plus.google.com/101194417969291325427" class="btn btn-just-icon btn-link btn-google"
                            target="_blank">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://i.imgur.com/Np6E6K5.jpg">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Raymond Adutwum Agyei</h4>
                        <h6 class="category text-muted">Web Developer</h6>
                        <p class="card-description">
                            As a Web Developer, I'm passionate about media. It has enlightened me on how to
                            approach my profession. Joining Erics Media has allowed me to gain insight on how
                            beautiful the world is from a lens.
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="http://www.facebook.com/raymondadutwum" target="_blank" class="btn btn-just-icon btn-link btn-facebook">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                        <a href="http://www.instagram.com/alonso_one" target="_blank" class="btn btn-just-icon btn-link btn-dribbble">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="https://twitter.com/adutwumraymond" target="_blank" class="btn btn-just-icon btn-link btn-twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://plus.google.com/u/0/+AdutwumAgyeiRaymond" target="_blank" class="btn btn-just-icon btn-link btn-google">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="https://linkedin.com/in/adutwum-agyei-raymond-366929117" target="_blank" class="btn btn-just-icon btn-link btn-linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://i.imgur.com/DXzVdrE.jpg">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">Emmanuel Baah Kofi</h4>
                        <h6 class="category text-muted">Communication Director</h6>

                        <p class="card-description align-content-center">
                            ################################################################
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <img class="img" src="https://i.imgur.com/zmUanSn.jpg">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Boakye Yiadom Clinton</h4>
                        <h6 class="category text-muted">Consultant</h6>
                        <p class="card-description align-content-center">
                            ################################################################
                        </p>
                    </div>
                    <div class="card-footer justify-content-center">
                        <a href="https://www.facebook.com/baah.isaac.75" class="btn btn-just-icon btn-link btn-facebook"><i
                                class="fa fa-facebook"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include partials/footer.ejs %>