<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon.png">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Erics Media
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="/stylesheets/material-kit.css?v=2.0.4" rel="stylesheet"/>
    <link href="/stylesheets/material-kit.css?v=2.0.4" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/vertical-nav.css">
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <!--<link href="../assets/demo/demo.css" rel="stylesheet"/>-->
    <!--Custom Css-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
</head>

<body class="profile-page sidebar-collapse">

<% include partials/nav.ejs%>

<div class="page-header" data-parallax="true"
     style="background-image: url('/images/background.jpg');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="/images/eric.jpg" alt="Circle Image"
                                 class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 id="logo_color" class="title">Owusu Dankwah Eric</h3>
                            <h6>Graphic Designer</h6>
                            <!--<a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i-->
                            <!--class="fa fa-dribbble"></i></a>-->
                            <!--<a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i-->
                            <!--class="fa fa-twitter"></i></a>-->
                            <!--<a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i-->
                            <!--class="fa fa-pinterest"></i></a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters, as opposed to using 'Content here, content here', making it look like
                    readable English. Many desktop publishing . </p>
            </div>
        </div>
    </div>
</div>

<% include partials/footer.ejs %>