<% include partials/header.ejs %>
<% include partials/nav.ejs %>


<body class="profile-page sidebar-collapse">


<div class="page-header" data-parallax="true"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="cards">

            <div class="container">

                <div class="row">
                    <div class="col-md-5 co-sm-5 ml-auto mr-auto">

                        <div class="card card-profile" style="background-image: url('/images/alonso-background.jpg'); background-size: cover">
                            <div class="card-avatar">
                                <img src="/images/alonso.jpg" alt="">
                            </div>
                            <div class="card-header card-header-image">
                                <div class="colored-shadow"
                                     style="background-image: url(&quot;./assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div>
                            </div>
                            <div class="card-body ">
                                <h6 class="card-category text-info">Web Developer</h6>
                                    <h3 class="card-title name-color">Raymond Adutwum Agyei</h3>
                                <p class="card-description">
                                    ########################################################################
                                </p>


                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#" class="btn btn-just-icon btn-link btn-twitter anime">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link btn-facebook anime">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link btn-dribbble anime">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-5 co-sm-5 ml-auto mr-auto">

                        <div class="card card-profile" style="background-size: cover; background-image: url('/images/joe-background.jpg');">
                            <div class="card-avatar">
                                <a href="#">
                                    <img class="img" src="/images/joe.jpg">
                                </a>
                                <div class="colored-shadow"
                                     style="background-image: url(&quot;./assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div>
                            </div>
                            <div class="card-body ">
                                <h6 class="card-category text-info">General Manager</h6>

                                <h3 class="card-title name-color">
                                    Boahen Joseph
                                </h3>
                                <p class="card-description">
                                    ########################################################################
                                </p>


                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#" class="btn btn-just-icon btn-link btn-twitter anime">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link btn-facebook anime">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link btn-dribbble anime">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 co-sm-5 mr-auto mr-auto">
                        <div class="card card-profile" style="background-size: cover; background-image: url('/images/eric-background.jpg');">
                            <div class="card-avatar">
                                <a href="#">
                                    <img class="img" src="/images/eric.jpg">
                                </a>
                            </div>
                            <div class="card-body ">
                                <h6 class="card-category text-info">CEO</h6>

                                <h3 class="card-title name-color">Eric Dankwah Owusu</h3>

                                <p class="card-description">
                                    ###################################################################
                                </p>
                                <a href="#" class="btn btn-info btn-round anime">Follow</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/footer.ejs %>