<% include partials/header.ejs%>

<% include partials/nav.ejs%>


<body class="profile-page sidebar-collapse">


<div class="page-header" data-parallax="true"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="cards">

            <div class="container">
                <!--<div class="title">-->
                <!--<h3>Profile Cards</h3>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-md-5 ml-auto">

                        <div class="card card-profile">
                            <div class="card-header card-header-image">
                                <a href="#">
                                    <img class="img" src="/images/city.jpg">

                                    <div class="card-title">
                                        Raymond Adutwum Agyei
                                    </div>
                                </a>
                                <div class="colored-shadow" style="background-image: url(&quot;./assets/img/examples/card-profile4.jpg&quot;); opacity: 1;"></div></div>
                            <div class="card-body ">
                                <h6 class="card-category text-info">Web Designer</h6>

                                <p class="card-description">
                                    ########################################################################
                                </p>


                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#" class="btn btn-just-icon btn-link btn-twitter anime">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link btn-facebook anime">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="btn btn-just-icon btn-link btn-instagram anime">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-5 mr-auto">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="#">
                                    <img class="img" src="/images/eric.jpg">
                                </a>
                            </div>
                            <div class="card-body ">
                                <h6 class="card-category text-gray">CEO</h6>

                                <h4 class="card-title">Eric Dankwa Owusu</h4>

                                <p class="card-description">
                                    ###################################################################
                                </p>
                                <a href="#" class="btn btn-info btn-round anime">Follow</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<% include partials/footer.ejs %>