<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon.png">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>
        Erics Media
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport'/>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link rel="stylesheet" href="/stylesheets/material-kit.min.css">
    <link href="/stylesheets/material-kit.css?v=2.0.4" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/vertical-nav.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/custom1.css">
    <link rel="stylesheet" href="/stylesheets/style-imgur.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chela+One|Merienda" rel="stylesheet">
    <!-- Google Adsense -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-7184261840828523",
            enable_page_level_ads: true
        });
    </script>


    <!--Git Site Control plugin-->
    <script>
        (function (w, i, d, g, e, t, s) {
            w[d] = w[d] || [];
            t = i.createElement(g);
            t.async = 1;
            t.src = e;
            s = i.getElementsByTagName(g)[0];
            s.parentNode.insertBefore(t, s);
        })(window, document, '_gscq', 'script', '//widgets.getsitecontrol.com/146775/script.js');
    </script>
</head>

<% include partials/nav.ejs %>

<body class="index-page">

<div class="page-header" data-parallax="true" id="carousel"
     style="background: url('http://i.imgur.com/K3mPv14.jpg'); -webkit-background-size: cover;background-size: cover;">
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<div class="main">
    <div class="section section-white" style="background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
        <div class="col-lg-8 col-md-8 col-sm-8 col-12 ml-auto mr-auto">
            <form role="form" id="contact-form" method="post" action="/contact">

                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 class="text-center title">
                                You can contact us with anything related to our Products.
                            </h3>
                            <h4 class="text-center description">
                                We will
                                get in
                                touch with you as soon as possible
                            </h4>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 ml-auto mr-auto">
                                    <div class="form-group bmd-form-group">
                                        <label for="name" class="bmd-label-floating">Your name</label>
                                        <input type="text" class="form-control" id="name" name="name">
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 ml-auto mr-auto">
                                    <div class="form-group bmd-form-group">
                                        <label for="exampleInputEmails" class="bmd-label-floating">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmails" name="email">
                                        <span class="bmd-help">Your email is safe with us.</span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 ml-auto mr-auto">
                                    <div class="form-group bmd-form-group">
                                        <label for="phone" class="bmd-label-floating">Phone</label>
                                        <input type="number" class="form-control" id="phone" name="phone" required>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 ml-auto mr-auto">
                                    <div class="form-group label-floating bmd-form-group">
                                        <label class="form-control-label bmd-label-floating" for="message"> Your
                                            message</label>
                                        <textarea class="form-control" rows="6" id="message" name="message"
                                                  required></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-8 ml-auto mr-auto">
                                    <div class="submit text-center">
                                        <input type="submit" class="btn btn-primary btn-raised btn-round"
                                               value="Contact Us">
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <footer class="footer footer-white footer-big" id="footer">
        <div class="container">

            <div class="content">
                <div class="row">

                    <div class="col-md-4">
                        <a href="#"><h5>Erics Media</h5></a>
                        <p>#################<br>
                            #################<br>
                            #################<br>
                            #################
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h5>About</h5>
                        <ul class="links-vertical">
                            <li>
                                <a href="/blog">
                                    Blog
                                </a>
                            </li>
                            <li>
                                <a href="/profile">
                                    Profile
                                </a>
                            </li>
                            <li>
                                <a href="/about">
                                    About Us
                                </a>
                            </li>
                            <li>
                                <a href="/contact">
                                    Contact Us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Subscribe to Our News Channel</h5>
                        <p>
                            Join our newsletter and get news in your inbox every week! We hate spam too, so no worries
                            about
                            this.
                        </p>
                        <form class="form form-newsletter"
                              action="/contact"
                              method="post">
                            <div class="form-group bmd-form-group">
                                <input class="form-control email" type="email" value="" name="sub"
                                       placeholder="Your email...." required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-just-icon">
                                <i class="material-icons" style="background: #2284a2">mail</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <hr>
            <ul class="social-buttons">
                <h5>Share on Social Media</h5>
                <li>
                    <a title="Share on Facebook"
                       href="http://www.facebook.com/sharer.php?u=http://erics-media-website.herokuapp.com"
                       target="_blank">
                        <i class="fab fa-facebook-f card-hover-effect" style="font-size: 30px;"></i>
                    </a>
                </li>
                <!--<li>-->
                <!--<a title="Share on Twitter" href="https://twitter.com/share?ref_src=twsrc%5Etfw"-->
                <!--class="twitter-share-button"-->
                <!--data-show-count="false">-->
                <!--<button class="btn btn-just-icon btn btn-twitter">-->
                <!--&lt;!&ndash;<i class="fa fa-twitter"></i>&ndash;&gt;-->
                <!--</button>-->
                <!--</a>-->
                <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                <!--</li>-->
            </ul>

            <div class="copyright pull-center">
                Copyright ©
                <script>document.write(new Date().getFullYear())</script>
                Alosoft Inc. All Rights Reserved.
            </div>
        </div>
    </footer>

</div>


<!--   Core JS Files   -->
<script src="/javascripts/core/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/core/popper.min.js" type="text/javascript"></script>
<script src="/javascripts/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/javascripts/moment.min.js"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/javascripts/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/javascripts/nouislider.min.js" type="text/javascript"></script>
<!--	Plugin for Sharrre btn -->
<script src="/javascripts/jquery.sharrre.js" type="text/javascript"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/javascripts/material-kit.js?v=2.0.4" type="text/javascript"></script>

</body>

</html>