<form method="post" action="http://api.company.com/contact">
    <label>Your e-mail</label>
    <input type="text" name="from">

    <label>Subject</label>
    <input type="text" name="subject">

    <label>Message</label>
    <textarea name="body"></textarea>
    <button>send</button>
</form>