#name, #alonso {
    font-family: "Segoe UI Black", serif;
    color: #555555;
}

#alonso {
    font-family: "Segoe UI Black", serif;
}

#logo_color {
    color: #2284A2;
}

.name-color {
    color: white;
}

.text-info {
    color: #c13744 !important;
}

#mc-embedded-subscribe {
    background-color: #2284ae;
}

.eric {
    margin-right: 100px;
}

.collapse.navbar-collapse {
    width: 160px;
}

.card-body .card-price {

    /*border: 2px solid #2284ae;*/
    background: #2233224d;
    border-radius: 25px;
    color: white;
    margin: auto;
    width: 230px;
}

.input_color {
    background-image: linear-gradient(0deg, #2284a2 2px, rgba(176, 58, 39, 0) 0),
    linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

#login_color {
    background: #2284A2;
}

.login_color {
    background: #2284A2;
}

#background {
    background-color: #2284A2;
}

.alert.alert-danger {
    margin-bottom: 50px;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #2284a2 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.nav-pills .nav-item .nav-link.active {
    color: #fff;
    background-color: #c13744;
    box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2), 0 13px 24px -11px rgba(6, 6, 6, 0.6);
}

.background_silver {
    background: rgba(192, 192, 192, 0.29);
}

.background_diamond {
    background: rgba(185, 242, 255, 0.29);
}

.background_gold {
    background: rgba(212, 175, 55, 0.3);
}

#silver1 {
    color: white;
}

#silver1.active {
    background-color: #c0c0c0;
}

#diamond1.active {
    background-color: #b9f2ff;
}

#diamond1 {
    color: white;
}

#gold1.active {
    background-color: #d4af37;
}

#gold1 {
    color: white;
}

.yfont {
    font-family: 'Roboto Slab', sans-serif;
}

.header-filter:before, .header-filter:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    /* height: 100%; */
    display: block;
    left: 0;
    top: 0;
    content: "";
}

#svg {
    width: 200px;
    /*padding-bottom: 10px;*/
}

.text_shadow {
    font-weight: 700;
    font-size: 5em;
    text-shadow: 0 4px 3px rgba(0, 0, 0, 1), 0 8px 13px rgba(0, 0, 0, 1), 0 18px 23px rgba(0, 0, 0, 1);
}

#hr {
    border: 0;
    height: 2px;
    width: 40%;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #2284ae, #f0f0f0);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), #2284A2, rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

#color_linear {
    background: linear-gradient(60deg, #2284A2, #2284A2);
    box-shadow: 7px 9px 20px 0px black;
}

#but {
    color: #2284A2;
}

#but:hover {
    color: grey;
}

.round_image {
    width: 100%;
    margin-bottom: 2.142rem;
}

.index-page .page-header {
    height: 100vh;
    /*overflow: hidden;*/
}

/*body {*/
/*background-color: #000;*/
/*}*/

#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

.icons {
    color: #2284a2;
}

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(http://i.imgur.com/K3mPv14.jpg);
}

.slideshow li:nth-child(2) {
    background-image: url(http://i.imgur.com/SBEmFpv.jpg);
    animation-delay: 8s;
}

.slideshow li:nth-child(3) {
    background-image: url(http://i.imgur.com/emvhOnb.jpg);
    animation-delay: 16s;
}

.slideshow li:nth-child(4) {
    background-image: url(http://i.imgur.com/2LSMCmJ.jpg);
    animation-delay: 24s;
}

.slideshow li:nth-child(5) {
    background-image: url(http://i.imgur.com/TVGe0Ef.jpg);
    animation-delay: 32s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    30% {
        opacity: 0;
        animation-timing-function: ease-out;
    }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
    opacity: 1;
}


.testing {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    background-color: #2284a2;
    color: #FFFFFF;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus,
.dropdown-menu a:active {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgb(0, 0, 0);
    background-color: #c13744;
    color: #FFFFFF;
}

.main-menu {
    height: 100px;
}

.block {
    background: linear-gradient(
            rgba(0, 184, 255, 0.45),
            rgba(0, 184, 255, 0.45)
    );
}

.my_price {
    background-image: url('/images/package2.jpg');
    -webkit-background-size: cover;
    background-size: cover;
}

/*.price_button {*/
/*background: white;*/
/*}*/

.col-md-4 h2 {
    color: white;
}

.card-body h6 {
    font-size: x-large;
    color: white;
}

.card-pricing ul li, b {
    color: white;
    font-family: Roboto, serif;
    font-weight: bold;
    font-size: initial;
}

.h_gallery_item:hover::before {
    opacity: 0%;
}

.circle_image {
    height: 225px;
    width: 100%;
    display: block;
}

.violet_button {
    background: #9a1c9dcc;
}

.brand > a:nth-child(4) > i:nth-child(1) {
    font-size: 40px;
    color: #2284a2;
}

.btn.btn-primary.btn-round {
    background: #2284a2;
}

.text_shadow h2 {
    color: #2284a2;
    font-weight: bolder;
}

.dropdown-menu.dropdown-with-icons.main-menu.show {
    height: 190px;
}

.anime {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.667%;
    flex: 0 0 16.667%;
    /*max-width: 16.667%;*/
    display: block;
    overflow: hidden;
}

.anime img {
    width: 100%;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.anime:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}


.page-header {
    /*background-image: url('/images/city.jpg');*/
    background-size: cover;
    background-position: top center;
}

.carousel .carousel-indicators li {
    background: #2284ae;
}

.img-raised {
    box-shadow: 0 5px 15px -8px rgb(0, 0, 0), 0 8px 10px -5px rgb(0, 0, 0);
}

.card-body p {
    font-family: 'Merienda', cursive;
}

h6 {
    font-family: 'Chela One', cursive;
}

big {
    font-size: 50px;
}

h1 {
    font-size: 20px;
}

.arrow {
    color: #2284a2;
    font-size: 100px;
}

.btn.btn-info {
    color: #fff;
    background-color: #2284ae;
    border-color: #00bcd4;
    box-shadow: 0 2px 2px 0 rgba(0, 188, 212, 0.14), 0 3px 1px -2px rgba(0, 188, 212, 0.2), 0 1px 5px 0 rgba(0, 188, 212, 0.12);
}

.btn.btn-info:focus, .btn.btn-info.focus, .btn.btn-info:hover {
    color: #fff;
    background-color: #2284ae;
    border-color: #008697;
}

.silver a li p:hover {
    color: yellow;
}

.diamond a li p:hover {
    color: red;
}

.gold a li p:hover {
    color: blue;
}

.nav-pills .nav-item .nav-link:hover {
    background-color: rgba(34, 132, 162, 0.68);
    color: white;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.show_page {
    border: 10px solid #b1babf;
    padding-top: 15px;
    background: white;
    border-radius: 10px;
}

hr.line {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.card-hover-effect {
    cursor: pointer;
    -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card-hover-effect:hover {
    box-shadow: 0px 12px 17px -7px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}

a:hover {
    color: #2284ae;
}

.caro {
    background-size: cover;
    background-position: center top;
    width: 100%;
    height: 100%;
}